.no-arrow {
    cursor: pointer; /* Make sure it looks clickable */
    text-decoration: none; /* Remove default text underline */
  }
  
  .custom-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Prevent color change */
  }

  .link-unstyled {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}


